In [7]:
# Modules
import pandas as pd
import numpy as np

In [8]:
# Load lotto data

data_file_names = ['mini-lottowyniki 2019',
                   'mini-lottowyniki 2020',
                   'mini-lottowyniki 2021',
                   'mini-lottowyniki 2022']

df = pd.DataFrame()

for name in data_file_names:
    df = df.append(pd.read_csv(f'data/{name}.csv', sep=';'), ignore_index=True)

In [9]:
#----------------------Fours Analysis--------------------------

a_collection = np.arange(1,43,1)
b_collection = np.arange(1,43,1)
c_collection = np.arange(1,43,1)
d_collection = np.arange(1,43,1)


#Create list with all pairs
fours = []
for a in a_collection:
    for b in b_collection: 
        for c in c_collection:
            for d in d_collection:
                fours.append([a,b,c,d])

In [10]:
# Delete fours

new_fours = []
for four in fours:
    if four[0] != four[1] and four[1] != four[2] and four[2] != four[3] and four[0] != four[2] and four[0] != four[3] and four[1] != four[3]:
        new_fours.append(four)
        
fours = new_fours

In [11]:
# Delete fours

for four in fours:
    four.sort()
    
fours.sort()

unic_fours_numbers = np.arange(0,2686320,144)
new_fours = []
for number in unic_fours_numbers:
    new_fours.append(fours[number])
    
fours = new_fours

In [13]:
# Checking if tripple in mini lotto results

found_fours = []

for four in fours: 
    for index, rows in df.iterrows():
        numbers_list = [rows.N1, rows.N2, rows.N3, rows.N4, rows.N5]
        if four[0] in numbers_list and four[1] in numbers_list and four[2] in numbers_list and four[3] in numbers_list:
            found_fours.append(four)

In [15]:
# Counting the occurrence of fours

quantity_of_fours = []

for four in fours:
    count = 0
    for f_four in found_fours:
        if four is f_four:
            count += 1
    quantity_of_fours.append([four,count])
    
quantity_of_fours_df = pd.DataFrame(quantity_of_fours, columns=['four','quantity'])
quantity_of_fours_df.to_csv('results/fours.csv', index=False)

In [17]:
# List of the most common fours

print(quantity_of_fours_df.sort_values(by=['quantity'], ascending=False).head(60))

                   four  quantity
777      [1, 8, 37, 39]         2
9730    [7, 22, 32, 38]         2
13526  [12, 14, 28, 41]         2
7309    [5, 18, 38, 42]         2
1439    [1, 18, 40, 42]         2
1837     [2, 3, 14, 42]         2
13000  [11, 17, 24, 31]         2
1149    [1, 13, 27, 36]         2
5582    [4, 11, 26, 35]         2
15349  [15, 18, 19, 34]         2
13296  [11, 25, 38, 40]         2
8143    [6, 12, 27, 41]         2
1086    [1, 12, 29, 37]         2
13377  [11, 31, 33, 41]         2
3443      [3, 4, 8, 19]         2
17110  [19, 28, 32, 37]         2
9398    [7, 15, 19, 39]         2
4538    [3, 17, 25, 28]         2
6509     [5, 7, 18, 33]         2
9275    [7, 13, 19, 30]         2
3156    [2, 20, 31, 34]         2
1404    [1, 18, 21, 41]         2
9918    [7, 34, 39, 40]         2
2         [1, 2, 3, 16]         2
12533  [10, 25, 28, 42]         2
4854    [3, 27, 28, 34]         2
11687   [9, 24, 30, 37]         2
14667  [13, 31, 37, 41]         2
6461      [5, 7, 8, 30]         2
12995  [11, 17, 22, 38]         2
9634    [7, 20, 21, 27]         2
6054    [4, 19, 36, 38]         2
4699    [3, 21, 24, 41]         2
5621    [4, 12, 16, 39]         2
11095   [9, 12, 14, 41]         2
14136  [13, 14, 29, 34]         2
12157  [10, 15, 28, 31]         2
15959  [16, 22, 29, 35]         2
1825     [2, 3, 12, 27]         2
3541      [3, 5, 6, 10]         1
2335      [2, 8, 9, 25]         1
3260    [2, 23, 37, 42]         1
12344  [10, 19, 26, 28]         1
18654  [37, 40, 41, 42]         1
12346  [10, 19, 26, 40]         1
14483  [13, 22, 25, 38]         1
8853     [7, 8, 11, 40]         1
6081    [4, 20, 29, 32]         1
843      [1, 9, 25, 33]         1
4432    [3, 15, 24, 34]         1
3266    [2, 24, 26, 35]         1
2329     [2, 7, 36, 37]         1
4428    [3, 15, 23, 28]         1
11273   [9, 14, 28, 38]         1
17845  [22, 37, 39, 41]         1
10333   [8, 14, 18, 39]         1
17843  [22, 36, 38, 42]         1
2338     [2, 8, 10, 11]         1
15591  [15, 24, 36, 40]         1
14475  [13, 22, 23, 25]         1

In [18]:
# No four numbers occur more than twice