In [1]:
# Modules
import pandas as pd
import numpy as np

In [2]:
# Load lotto data

data_file_names = ['mini-lottowyniki 2019',
                   'mini-lottowyniki 2020',
                   'mini-lottowyniki 2021',
                   'mini-lottowyniki 2022']

df = pd.DataFrame()

for name in data_file_names:
    df = df.append(pd.read_csv(f'data/{name}.csv', sep=';'), ignore_index=True)

In [4]:
# ----------------------Tripples Analysis--------------------------

a_collection = np.arange(1,43,1)
b_collection = np.arange(1,43,1)
c_collection = np.arange(1,43,1)


# Create list with all possible tripples

tripples = []
for a in a_collection:
    for b in b_collection: 
        for c in c_collection:
            tripples.append([a,b,c])

In [5]:
# Delete tripples

new_tripples = []
for tripple in tripples:
    if tripple[0] != tripple[1] and tripple[1] != tripple[2] and tripple[0] != tripple[2]:
        new_tripples.append(tripple)
        
tripples = new_tripples

In [6]:
# Delete duplicates of tripples

for tripple in tripples:
    tripple.sort()
    
tripples.sort()

unic_tripples_numbers = np.arange(0,68880,6)
new_tripples = []
for number in unic_tripples_numbers:
    new_tripples.append(tripples[number])
    
tripples = new_tripples

In [7]:
#Checking if tripple in mini lotto results
found_tripples = []

for tripple in tripples: 
    for index, rows in df.iterrows():
        numbers_list = [rows.N1, rows.N2, rows.N3, rows.N4, rows.N5]
        if tripple[0] in numbers_list and tripple[1] in numbers_list and tripple[2] in numbers_list:
            found_tripples.append(tripple)

In [9]:
# Counting the occurrence of tripples
quantity_of_tripples = []

for tripple in tripples:
    count = 0
    for f_tripple in found_tripples:
        if tripple is f_tripple:
            count += 1
    quantity_of_tripples.append([tripple,count])
    
quantity_of_tripples_df = pd.DataFrame(quantity_of_tripples, columns=['tripples','quantity'])
quantity_of_tripples_df.to_csv('results/tripples.csv', index=False)

In [11]:
# List of the most common tripples

print(quantity_of_tripples_df.sort_values(by=['quantity'], ascending=False).head(30))

           tripples  quantity
2163    [3, 23, 36]         6
7769   [13, 31, 41]         6
7336   [12, 29, 37]         6
11395  [33, 41, 42]         6
2987    [4, 31, 41]         6
7775   [13, 32, 37]         6
4324    [6, 36, 42]         6
1097    [2, 10, 36]         6
707     [1, 27, 35]         5
6389   [10, 26, 32]         5
2646    [4, 14, 23]         5
6930   [11, 32, 33]         5
7924   [14, 18, 39]         5
3324    [5, 14, 35]         5
818     [1, 40, 42]         5
4964     [8, 9, 39]         5
9879   [20, 31, 37]         5
8203   [14, 41, 42]         5
8455   [15, 28, 34]         5
4102    [6, 20, 36]         5
7990   [14, 21, 39]         5
890      [2, 4, 36]         5
4505    [7, 13, 19]         5
7179   [12, 20, 33]         5
2644    [4, 14, 21]         5
828      [2, 3, 12]         5
8376   [15, 23, 35]         5
7547   [13, 18, 40]         5
4709    [7, 21, 27]         5
3766     [6, 8, 30]         5

In [12]:
# In the analyzed years, there are several pairs that popped up six times